@font-face {
  font-family: 'Edu TAS Beginner';
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/edutasbeginner/v3/ZXu9e04WubHfGVY-1TcNg7AFUmshqcTgoA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.App-header {
  background-color: skyblue;
  border: 1px solid steelblue;
  border-radius: 2em;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.App-header img {
  width: 250px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Edu TAS Beginner';
  font-size: 120%; 
  font-stretch: expanded; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-image: url(https://64.media.tumblr.com/14fc38f14316cc3789e27a81967da5ad/tumblr_p475p2b1461vbdodoo1_500.gif);
  background-repeat: repeat;
}

main {
  width: 100%;
  margin: 0 auto; /* Center align the main content */
}

.navbar {
  margin: 22px auto;
  padding: 10px;
  overflow: hidden;
  background-color: skyblue;
  border: 1px solid dodgerblue;
  border-radius: 8px;
  position: relative;
  text-align: center;
}

.navbar li {
  list-style-type: none;
  display: inline;
  color: #00fcc1;
  text-align: center;
  margin: 22px auto;
  padding-inline: 10px;
  font-size: 100%;
  text-decoration: none;
}

.navbar a:hover {
  background-color: steelblue;
  border-radius: 8px;
  color: white;
  padding: 5px;
}

.title {
  background-color: skyblue;
  padding: 10px;
  font-weight: bold;
  border: 1px solid dodgerblue;
  font-size: 110%;
}

.content {
  background-color: aliceblue;
  padding: 10px;
  font-weight: normal;
  border: 1px solid dodgerblue;
  font-size: 110%;
}

h1 {
  font-size: 2.5em;
  color: #15429b;
}

h2 {
  font-size: 1.5em;
  color: #15429b;
}

p {
  font-size: 1em;
  color: #15429b;
}

.bird {
  background-color: peachpuff;
  padding: 20px;
}

.bird img {
  width: 400px;
  height: 300px;
  border: 1px solid dodgerblue;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  grid-gap: 10px;
}

.grid-item {
  text-align: center;
}

/* The flip box container */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* The horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

/* Style front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.App-footer {
  margin: auto;
  background-color: skyblue;
  border: 1px solid steelblue;
  padding: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}